.custom-scrollbar-container {
    position: absolute;
    background-color: rgb(10, 10, 10);
    width: 20px;
    height: 100%;
}

.csb-arrow-top {
    top: 0px;
}

.csb-arrow-bottom {
    bottom: 0px;
}

.csb-arrow-top, .csb-arrow-bottom {
    position: absolute;
    left: 0px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
}

.csb-handle {
    position: absolute;
    width: 10px;
    height: 60px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: rgb(50, 50, 50);
}

.csb-handle:hover {
    background-color: rgb(80, 80, 80);
}

.csb-arrow-top svg, .csb-arrow-bottom svg {
    width: 60%;
    height: 60%;
    color: rgb(50, 50, 50);
}

.csb-arrow-top svg {
    rotate: 0deg;
}

.csb-arrow-bottom svg {
    rotate: 180deg;
}