.trim-view-container {
    position: absolute;
    left: 42px;
    top: 34px;
    width: calc(100% - 42px);
    height: calc(100% - 34px);
    overflow: hidden;
    user-select: none;
}

.tv-video {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: rgb(5, 5, 5);
    object-fit: contain;
    user-select: none;
}

.tv-trim-container {
    position: absolute;
    left: 100px;
    bottom: 0;
    width: calc(100% - 200px);
    height: 100px;
    background-color: rgb(50, 50, 50);
    user-select: none;
    cursor: pointer;
}

.tv-settings-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 120px;
    left: -80px;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    z-index: 2;
}

.tv-preferences-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 120px;
    right: -80px;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    z-index: 2;
}

.tv-name-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    user-select: none;
    border-radius: 2px;
}

.tv-name-label {
    width: fit-content;
    height: fit-content;
    color: rgb(200, 200, 200);
    font-family: monospace;
    font-size: 20px;
    user-select: none;
    text-shadow: 2px 2px 5px black, 2px 2px 25px black, 2px 2px 25px black, 2px 2px 25px black, 2px 2px 25px black, 2px 2px 15px black, 2px 2px 15px black;
    padding: 8px 8px;
    padding-right: 0px;
    border-radius: 2px;
    border: none;
    margin: 0;
    cursor: text;
    transition: 0.1s background-color ease, 0.1s text-shadow ease;
    flex: 0 0 auto;
    field-sizing: content;
    background-color: transparent;
}

.tv-name-extension {
    width: fit-content;
    height: fit-content;
    color: rgb(200, 200, 200);
    font-family: monospace;
    font-size: 20px;
    user-select: none;
    text-shadow: 2px 2px 5px black, 2px 2px 25px black, 2px 2px 25px black, 2px 2px 25px black, 2px 2px 25px black, 2px 2px 15px black, 2px 2px 15px black;
    padding: 8px 8px;
    padding-left: 0px;
    border-radius: 2px;
    cursor: default;
    transition: 0.1s background-color ease, 0.1s text-shadow ease;
    flex: 0 0 auto;
}

.tv-name-label:hover {
    background-color: rgb(50, 50, 50);
    text-shadow: 2px 2px 5px black, 2px 2px 25px black, 2px 2px 25px black;
}

.tv-name-label:focus {
    background-color: rgb(50, 50, 50);
    outline: 1px solid white;
    border: none;
    text-shadow: 2px 2px 5px black, 2px 2px 25px black, 2px 2px 25px black;
}

.tv-trim-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

.tv-trim-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
    cursor: pointer;
    z-index: 4;
}

.tv-trim-left-handle {
    right: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background-color: white;
    position: absolute;
    border-radius: 2px;
    z-index: 8;
}

.tv-trim-left-arrow {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translate(25px, -50%);
    background-color: white;
    border-radius: 50%;
    z-index: 6;
}

.tv-trim-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
    cursor: pointer;
    z-index: 4;
}

.tv-trim-right-handle {
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background-color: white;
    position: absolute;
    border-radius: 2px;
}

.tv-trim-right-arrow {
    position: absolute;
    right: 100%;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-25px, -50%);
    background-color: white;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    z-index: 6;
}

.tv-timeline-handle {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgb(83, 172, 255);
    left: 50%;
    top: 0;
    z-index: 5;
}

.tv-crop-outline {
    outline: 3px dashed rgb(238, 68, 68);
    border: 1px solid rgb(238, 68, 68);
    left: 0px;
    top: 0px;
    border-radius: 2px;
    position: absolute;
    pointer-events: none;
    user-select: none;
    transition: top 0.3s ease, left 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.tv-settings-button {
    position: relative;
    width: fit-content;
    height: fit-content;
    user-select: none;
    border-radius: 2px;
    padding: 8px 12px;
    background-color: rgb(50, 50, 50);
    outline: 1px solid rgb(150, 150, 150);
    color: rgb(200, 200, 200);
    border: none;
    font-family: monospace;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}